# Project ownership map
* @chocoanakbaik
/src/core/ @hasbyprasetya09 @hasbyprasetya22
/src/input/ @hasbyprasetya09 @hasbyprasetya22
/src/security/ @hasbyprasetya09 @hasbyprasetya22
/src/windows/ @hasbyprasetya09 @hasbyprasetya22
/tests/ @hasbyprasetya09 @hasbyprasetya22
/resources/ @hasbyprasetya09 @hasbyprasetya22
